@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,100;0,300;1,100;1,300;1,400&family=Mulish:ital,wght@0,200;0,800;0,900;1,200;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Mulish", serif;
}

.btn-global {
  font-family: var(--font-action);
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1rem;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.hamburguer {
  /* background-color: red; */
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.show-menu .hamburguer {
  right: 16rem;
}

.hamburguer .line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 1s;
}

.show-menu #line1 {
  transform: translate(0.4rem, 0.4rem) rotate(45deg);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: translate(0.2rem, -0.5rem) rotate(-45deg);
}

.hamburguer span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #654ea3;
  color: #fff;
  font-family: var(--font-action);
  opacity: 0;
}

.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: 0.5rem solid #654ea3;
  border-left: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}

.banner {
  position: absolute;
}

.banner h1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 200;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

.banner p {
  font-family: var(--font-secundary);
  color: #fff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

.banner button {
  font-family: var(--font-action);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover {
  color: #000;
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
  z-index: 90;
}

.show-menu .sidebar {
  right: 0;
}

.sidebar nav ul.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar nav ul li.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.sidebar nav ul li a.menu-link {
  font-family: var(--font-action);
  font-size: 2rem;
  color: #555;
  transition: color 1s;
}

.sidebar nav ul li a.menu-link:hover {
  color: #654ea3;
}

.sidebar div.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sidebar div.social-media a i {
  background-color: blueviolet;
  color: rgba(255, 255, 255, 1);
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.sidebar div.social-media a i:hover {
  background-color: #eaafc8;
}

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  margin-bottom: 1rem;
}

section.sessao-conhecimentos {
  background-color: #f5f4f5;
}

section.sessao-projetos {
  margin: 2rem;
}

section .projetos {
  display: flex;
  justify-content: space-evenly;
}

section .projetos .card {
  position: relative;
}

section .projetos .card .card-image-wrapper {
  width: 100%;
  height: 100%;
}

section .projetos .card .card-image-wrapper img {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: opacity 0.3s;
}

section .projetos .card .card-info {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

section .projetos .card:hover .card-image-wrapper img {
  opacity: 0.5;
}

section .projetos .card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

section .projetos .card .card-info h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

section .projetos .card .card-info h3 {
  font-family: var(--font-secundary);
  font-weight: bolder;
  color: #ff4081;
  margin-bottom: 1.5rem;
}

section .projetos .card .card-info p {
  font-family: var(--font-secundary);
  color: #000;
  width: 80%;
  font-weight: 900;
  margin-bottom: 2rem;
}

section .projetos .card .card-info button {
  width: 8rem;
  height: 2.5rem;
}

section.sessao-contato {
  width: 100%;
  height: 100vh;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}

section.sessao-contato .contato-wrapper {
  width: 60%;
  height: 30em;
  display: flex;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

section.sessao-contato .contato-wrapper .contato-left {
  width: 35%;
  background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
    url("/assets/images/contact.jpg");
  background-size: cover;
}

section.sessao-contato .contato-wrapper .contato-right {
  width: 65%;
  background-color: #eee;
  padding: 1rem 3rem 3rem 3rem;
}

section.sessao-contato .contato-wrapper .contato-right h1 {
  font-family: var(--font-primary);
  color: #272727;
  font-size: 3rem;
  font-weight: lighter;
  width: 100%;
  text-align: center;
}

section.sessao-contato .contato-wrapper .contato-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.sessao-contato .contato-wrapper .contato-right form .field {
  background-color: transparent;
  border: none;
  width: 20rem;
  font-size: 1.5rem;
  font-family: var(--font-secundary);
  border-bottom: 1px dashed #636363;
  height: 3rem;
  outline: none;
  margin: 1rem 0;
}

section.sessao-contato .contato-wrapper .contato-right .input-group {
  position: relative;
}

section.sessao-contato .contato-wrapper .contato-right .input-group textarea {
  padding-top: 1rem;
  max-width: 25rem;
  max-height: 3;
}

section.sessao-contato .contato-wrapper .contato-right form .field-label {
  position: absolute;
  left: 0;
  font-family: var(--font-secundary);
  text-transform: uppercase;
  top: 2rem;
  font-size: 1.2rem;
  transition: all 0.3s;
}

section.sessao-contato .contato-wrapper .contato-right form .field:focus {
  border-bottom: 1px solid;
}

section.sessao-contato
  .contato-wrapper
  .contato-right
  form
  .field:focus
  ~ label {
  top: 0;
  font-size: 1rem;
}

section.sessao-contato .contato-wrapper .contato-right button.btn-submit {
  width: 80%;
  height: 2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

section.sessao-orcamento {
  width: 100%;
  height: 100vh;
  background: url("/assets/images/orcamento.jpg");
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.sessao-orcamento .orcamento-wrapper {
  background: #ffffff99;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  position: relative;
}

section.sessao-orcamento .orcamento-wrapper h1 {
  position: absolute;
  top: -2.5rem;
  left: 2rem;
  color: #ffffff;
  font-family: var(--font-primary);
  padding: 0 3rem;
  font-size: 2.5rem;
  font-weight: lighter;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.sessao-orcamento .orcamento-wrapper form {
  margin: 4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

section.sessao-orcamento .orcamento-wrapper form label {
  font-family: var(--font-secundary);
  font-size: 1.2rem;
  font-weight: bold;
}

section.sessao-orcamento .orcamento-wrapper form input[type="number"] {
  font-family: var(--font-secundary);
  width: 4rem;
  font-size: 1.8rem;
  outline: none;
  border-radius: 7px;
  border: none;
  padding: 0.3ram;
}

section.sessao-orcamento .orcamento-wrapper form button.btn-orcamento {
  text-transform: uppercase;
  padding: 1rem;
  grid-column: 2;
  margin-top: 2rem;
}

a#link-to-topo {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  color: #f5f4f5;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.6rem #00000009;
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* footer .footer-content .social-list ul */

@media only screen and (max-width: 600px) {
  section .projetos .card .card-info {
    font-size: small;
  }

  section.sessao-contato .contato-wrapper .contato-right form .field {
    width: auto;
  }

  section.sessao-orcamento .orcamento-wrapper form {
    margin: 1rem;
  }

  section.sessao-orcamento .orcamento-wrapper h1 {
    font-size: 1rem;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}
